<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.yuanyuan.yuanlive.user.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="blog.yuanyuan.yuanlive.entity.user.entity.SysUserRole">
            <id property="userId" column="user_id" />
            <id property="roleId" column="role_id" />
    </resultMap>
</mapper>
